<table class="kv-grid-table table table-hover kv-table-wrap">
    <thead>
    <tr>
        <th class="kv-align-left kv-align-middle"><a href="#" data-sort="#">Название</a></th>
        <th class="kv-align-center kv-align-middle"><a href="#" data-sort="#">Уровень</a></th>
        <th class="kv-align-center kv-align-middle"><a href="#" data-sort="#">% побед</a></th>
        <th class="kv-align-center kv-align-middle"><a href="#" data-sort="#">Ср. урон</a></th>
        <th class="kv-align-center kv-align-middle"><a href="#" data-sort="#">РЭ</a></th>
        <th class="kv-align-center kv-align-middle"><a href="#" data-sort="#">WN7</a></th>
        <th class="kv-align-center kv-align-middle"><a href="#" data-sort="#">WN8</a></th>
        <th class="kv-align-center kv-align-middle"><a href="#" data-sort="#">Кол-во боев</a></th>
        <th class="kv-align-middle"><a href="#" data-sort="#">Знак</a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="kv-align-left kv-align-middle"></td>
        <td class="kv-align-center kv-align-middle"></td>
        <td class="kv-align-center kv-align-middle"></td>
        <td class="kv-align-center kv-align-middle"></td>
        <td class="kv-align-center kv-align-middle"></td>
        <td class="kv-align-center kv-align-middle"></td>
        <td class="kv-align-center kv-align-middle"></td>
        <td class="kv-align-center kv-align-middle"></td>
        <td class="kv-align-middle"></td>
    </tr>
    </tbody>
</table>